Repository itsalfredakku/rxops-uikit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'npm run build.types'

Update README.md
  README.md
Due: prettier --write

feat(audit): Implement comprehensive keyboard accessibility audit for medical devices
  ISSUES.md
  docs/images/logo.png
  scripts/keyboard-accessibility-audit.js
  src/core/atoms/avatar/avatar.tsx
  src/core/atoms/button/button.tsx
  src/core/atoms/icon/index.tsx
  src/core/atoms/image/image.tsx
  src/core/atoms/input/input.tsx
  src/core/atoms/link/link.tsx
  src/core/atoms/text/text.tsx
  src/design-system/healthcare-semantics.css
  test-results/keyboard-accessibility-audit.json
Due: eslint --fix, prettier --write, bash -c 'npm run build.types'

fix(input): correct property name from 'autocomplete' to 'autoComplete' for consistency
  ISSUES.md
  scripts/implement-keyboard-accessibility.js
  src/core/atoms/input/input.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run build.types'

feat(tests): implement comprehensive testing suite for EmergencyAlert component
  ISSUES.md
  TESTING_BREAKTHROUGH_REPORT.md
  TESTING_INFRASTRUCTURE_PROGRESS.md
  src/core/atoms/alert/__tests__/alert-alternative.test.tsx
  src/core/atoms/avatar/__tests__/avatar-alternative.test.tsx
  src/core/atoms/badge/__tests__/badge-alternative.test.tsx
  src/core/atoms/button/__tests__/button-alternative.test.tsx
  src/core/atoms/button/__tests__/button-fixed.test.tsx
  src/core/atoms/divider/__tests__/divider-alternative.test.tsx
  src/core/atoms/icon/__tests__/icon-alternative.test.tsx
  src/core/atoms/input/__tests__/input-alternative.test.tsx
  src/core/atoms/link/__tests__/link-alternative.test.tsx
  src/core/atoms/spinner/__tests__/spinner-alternative.test.tsx
  src/core/atoms/text/__tests__/text-alternative.test.tsx
  src/core/molecules/emergency-alert/__tests__/emergency-alert-alternative.test.tsx
  src/test-setup.ts
  src/testing/qwik-dom-patches.ts
  src/testing/qwik-test-utils.ts
Due: eslint --fix, prettier --write, bash -c 'npm run build.types'

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css})
  bash -c 'npm run build.types': any of: *.{ts,tsx}
